<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start" style ="margin-left: 4px">
      <img src="../../assets/solana_capacitor.png">
    </ion-avatar>
    <ion-title>
      Wallet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="appState.request$.value">
    <app-authorize 
    *ngIf="appState.request$.value.requestType === 'AuthorizeDapp'"
    [request]="appState.request$.value"
    (authorizationClick)="authorize($event)"
    ></app-authorize>
  <app-sign-message
    *ngIf="appState.request$.value.requestType === 'SignPayloads'"
    [request]="appState.request$.value"
    (authorizationClick)="authorize($event)"
    ></app-sign-message>
  <app-sign-transaction
    *ngIf="appState.request$.value.requestType === 'SignAndSendTransactions'"
    [request]="appState.request$.value"
    (authorizationClick)="authorize($event)"
    ></app-sign-transaction>
  </ng-container>
</ion-content>
